body{
	background-color: orange;
	margin:10px;
	width: 100%;
	font-family: sans-serif;
}
h1{
	color: white;
	margin-left: 100px;
}
.center{
	text-align: center;
	margin: 0 auto;
}
/***** catalogue ****/
div#catalog
{
	border:1px solid white;
	padding: 5px;
	width:70%;
	max-width: 1000px;
	position: absolute;
	top:100px;
	left: 250px;
	color: white;

}
div#catalog div{
	text-align: left;
}
/****Top *****/
div#selction{
	width: 215px;
	height: 750px;
	position: absolute;
	left: 10px;
}
div#selction>div{
	margin: 5px;
	border:solid thin rgba(55,55,55,0.5);
	height: 352px;
	position: relative;
}
div#selction>h3{
	margin: 3px;
}

div#selction>div span:first-child
{
	font-size: 100px;
	color: rgb(80,80,80);
	position: relative;
	top: 100px;
}
div#selction>div span:nth-child(2){
	font-size: 20px;
	color:rgb(80,80,80);
	position: absolute;
	top: -3px;
	right: -3px;
	background-color: white;
	padding: 0px 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 4px 2px rgba(80,80,80,0.8)
}
div#selction,div#films,div#details{
	background-color: rgb(220,220,220);
	box-shadow: 0px 0px 10px 4px rgba(225,225,225,0.5);
}
div#details,div#films{
	padding: 10px;
	height: 370px;
	overflow-x: scroll;
	overflow-y: hidden;
	/*les photos sur la méme ligne */
	white-space: nowrap;
}
div.film {
	display: inline-block;
	width: 200px;
	height: 350px;
	vertical-align: top;
	border:solid thin rgba(55,55,55,0.8);
	background-color: rgba(55,55,55,1);
}
div#films div.film{
	margin: 0px 3px ;
}
div.film img{
	width: 100%;
}
div.film:hover{
	box-shadow: 0px 0px 8px 3px rgba(55,55,55,1);
}
div.film h3{
	height: 70px;
	padding: 5px;
	background-color: rgb(80,80,80);
	margin: 0px;
	color: white;
	white-space: initial;
}
div#details{
	min-height: 60px;
	margin:20px 0px;
	color: black;
}

#filter{
	font-size: 20px;
	margin-bottom: 10px;
	margin-right: 30px;
	width:200px;
}